<form id="user-form" (ngSubmit)="onSubmit()" #form="ngForm">
    <fieldset>
      <div class="form-group mb-3" [class.was-validated]="title.dirty || title.touched">
        <label class="control-label" for="title">Title*</label>
        <input id="title" name="title" type="text" class="form-control" required
               [(ngModel)]="group.title" #title="ngModel">
        <div class="invalid-feedback">A title is required</div>
      </div>
  
      <div class="form-group mb-3" [class.was-validated]="description.dirty || description.touched">
        <label class="control-label" for="description">Description*</label>
        <textarea id="description" name="description" type="text" class="form-control" required description
               [(ngModel)]="group.description" #description="ngModel">
        </textarea>
        <div class="invalid-feedback">A description is required</div>
      </div>
  
      <div class="form-group mb-3">
        <label class="control-label" for="visibility">Visibility</label>
        <label for="visibilityChoice1">PUBLIC</label>
        <input type="radio" id="visibilityChoice1" name="visibility" value="PUBLIC" [(ngModel)]="group.visibility" #visibility="ngModel" checked>
        <label for="visibilityChoice2">PRIVATE</label>
        <input type="radio" id="visibilityChoice2" name="visibility" value="PRIVATE" [(ngModel)]="group.visibility" #visibility="ngModel" >
        <div class="invalid-feedback">A visibility is required</div>
      </div>
  
      <div class="form-group fa-pull-right">
        <button id="listBtn" type="button" (click)="onCancel()"
            class="btn btn-outline-primary pull-right">Back</button>
        <button id="submit" type="submit" [disabled]="!form.form.valid"
            class="btn ms-3 btn-success pull-right">Submit</button>
      </div>
    </fieldset>
</form>
  