<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">{{group.title}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Title</h6>
        <p class="card-text">{{group.title}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{group.description}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Visibility</h6>
        <p class="card-text">{{group.visibility}}</p>
      </div>
      <div class="card-footer">
        <button id="listBtn" type="button" [routerLink]="['/groups']"
                class="btn m-1 btn-outline-primary">Group List
        </button>
        <button id="editBtn" type="button"
                class="btn m-1 btn-outline-success">Join
        </button>
      </div>
    </div>
  </div>
</div>
