<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
        <a class="card-text text-uppercase" [routerLink]="['../']">
          <button type="button" class="btn btn-primary" style="margin-top: 2%">RETURN TO THE {{meet.title}}</button>
        </a>
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
                <div class="chat-about" style="text-align: center">
                  <h1 class="m-b-0">{{meet.title}} CHAT</h1>
                  <small>{{meet.description}}</small>
                </div>
            </div>
          </div>
          <div class="chat-history">
            <ul class="m-b-0">
              <li class="clearfix"  *ngFor="let message of messages">
                <a id="button" class="card-text text-uppercase" [routerLink]="['./',message.uri.split('/').pop()]">
                  <div class="message other-message float-right" *ngIf="user.email===message.author.email">
                    <p style="font-weight: bold;">{{message.author.email}}</p>
                    {{message.text}}
                    <br>
                    <p style="float:right; font-size: 0.5em;">{{message.creationDate | date: 'medium' }}</p>
                  </div>
                </a>
                <br *ngIf="user.email!==message.author.email">
                <a id="button2" class="card-text text-uppercase" [routerLink]="['./',message.uri.split('/').pop()]">
                  <div class="message my-message" *ngIf="user.email!==message.author.email">
                    <p style="font-weight: bold;">{{message.author.email}}</p>
                    {{message.text}}
                    <br>
                    <p style="font-size: 0.5em;">{{message.creationDate | date: 'medium' }}</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="chat-message clearfix">
            <div class="input-group mb-0">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-send"></i></span>
              </div>
              <app-create-message (newItemEvent)="addItem($event)" [meet]="meet" [user]="user"></app-create-message>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
