<div _ngcontent-wjd-c3="" class="intro_text text-left">
  <h5 _ngcontent-wjd-c3="">Welcome to <b>Link</b>App</h5>
  <h1 _ngcontent-wjd-c3="">A new vision of the concept of hanging out</h1>
</div>

<div class="relative z-0 overflow-hidden">
  <img alt="" src="https://secure.meetupstatic.com/next/images/blobs/red-blob.svg" class="absolute">
  <img alt="" src="https://secure.meetupstatic.com/next/images/blobs/yellow-blob.svg" class="absolute yellow_image">
  <img alt="" src="https://secure.meetupstatic.com/next/images/blobs/green-blob.svg" class="absolute green_image">

  <div _ngcontent-qao-c4="" class="section-padding">
    <div _ngcontent-qao-c4="" class="container">
      <div _ngcontent-qao-c4="" class="row">
        <!---->
        <div _ngcontent-qao-c4="" class="col-lg-4 col-md-6 ng-star-inserted">
          <div _ngcontent-qao-c4="" class="info_box has-animation">
            <span _ngcontent-qao-c4=""></span>
            <span _ngcontent-qao-c4=""></span>
            <div _ngcontent-qao-c4="" class="icon"><img _ngcontent-qao-c4="" class="image" src="assets/join_group.png" alt="Join a group"></div>
            <h5 _ngcontent-qao-c4="">Join a group</h5><p _ngcontent-qao-c4="" class="mb-0">Do what you love, meet others who love it, find your community. The rest is history!</p>
          </div>
        </div>
        <div _ngcontent-qao-c4="" class="col-lg-4 col-md-6 ng-star-inserted">
          <div _ngcontent-qao-c4="" class="info_box has-animation">
            <span _ngcontent-qao-c4=""></span>
            <span _ngcontent-qao-c4=""></span>
            <div _ngcontent-qao-c4="" class="icon"><img _ngcontent-qao-c4="" class="image" src="../../assets/find_event.png" alt="Find an event"></div>
            <h5 _ngcontent-qao-c4="">Find an event</h5><p _ngcontent-qao-c4="" class="mb-0">Events are happening on any topic, from online gaming to yoga or hiking. Find yours!</p>
          </div>
        </div>
        <div _ngcontent-qao-c4="" class="col-lg-4 col-md-6 ng-star-inserted">
          <div _ngcontent-qao-c4="" class="info_box has-animation">
            <span _ngcontent-qao-c4=""></span>
            <span _ngcontent-qao-c4=""></span>
            <div _ngcontent-qao-c4="" class="icon"><img _ngcontent-qao-c4="" class="image" src="assets/start_group.png" alt="Start a group"></div>
            <h5 _ngcontent-qao-c4="">Start a group</h5><p _ngcontent-qao-c4="" class="mb-0">You do not have to be an expert to gather people together and explore shared interests.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="jumbotron">
    <p>Source code:</p>
      <ul>
        <li><a href="https://github.com/UdL-EPS-SoftArch/LinkApp-API" target="_blank">Spring Back-End</a></li>
        <li><a href="https://github.com/UdL-EPS-SoftArch/LinkApp" target="_blank">Angular Front-End</a></li>
      </ul>
  </div>
</div>
