<div class="relative z-0 overflow-hidden2">
  <img alt="" src="assets/red-blob.svg" class="absolute red-image">
  <img alt="" src="assets/yellow-blob.svg" class="absolute yellow_image">
  <img alt="" src="assets/green-blob.svg" class="absolute green_image">

<div _ngcontent-wjd-c3="" class="intro_text text-left relative z-0 overflow-hidden">

  <h5 _ngcontent-wjd-c3="">Welcome to <b>Link</b>App</h5>
  <h1 _ngcontent-wjd-c3="">A new vision of the concept of hanging out</h1>
</div>

<div _ngcontent-qao-c4="" class="section-padding">
  <div _ngcontent-qao-c4="" class="container">
    <div _ngcontent-qao-c4="" class="row">
      <h2 class="text-center ">How Linkup works</h2>
      <p class="text-center bottom-pad">Meet new people who share your interests through online and in-person events. It's free to create an account.</p>
      <div _ngcontent-qao-c4="" class="col-lg-4 col-md-6 ng-star-inserted">
        <div _ngcontent-qao-c4="" class="info_box has-animation">
          <span _ngcontent-qao-c4=""></span>
          <span _ngcontent-qao-c4=""></span>
          <div _ngcontent-qao-c4="" class="icon"><img _ngcontent-qao-c4="" class="image" src="assets/join_group.png" alt="Join a group"></div>
          <h5 _ngcontent-qao-c4="">Join a group</h5><p _ngcontent-qao-c4="" class="mb-0">Do what you love, meet others who love it, find your community. The rest is history!</p>
        </div>
      </div>
      <div _ngcontent-qao-c4="" class="col-lg-4 col-md-6 ng-star-inserted">
        <div _ngcontent-qao-c4="" class="info_box has-animation">
          <span _ngcontent-qao-c4=""></span>
          <span _ngcontent-qao-c4=""></span>
          <div _ngcontent-qao-c4="" class="icon"><img _ngcontent-qao-c4="" class="image" src="../../assets/find_event.png" alt="Find an event"></div>
          <h5 _ngcontent-qao-c4="">Find a meet</h5><p _ngcontent-qao-c4="" class="mb-0">Events are happening on any topic, from online gaming to yoga or hiking. Find yours!</p>
        </div>
      </div>
      <div _ngcontent-qao-c4="" class="col-lg-4 col-md-6 ng-star-inserted">
        <div _ngcontent-qao-c4="" class="info_box has-animation">
          <span _ngcontent-qao-c4=""></span>
          <span _ngcontent-qao-c4=""></span>
          <div _ngcontent-qao-c4="" class="icon"><img _ngcontent-qao-c4="" class="image" src="assets/start_group.png" alt="Start a group"></div>
          <h5 _ngcontent-qao-c4="">Start a group</h5><p _ngcontent-qao-c4="" class="mb-0">You do not have to be an expert to gather people together and explore shared interests.</p>
        </div>
      </div>
      <p class="text-center less-bottom-pad"></p>
      <h2 class="text-center">Search by theme</h2>
      <div _ngcontent-c4="" class="row top-pad">
        <div _ngcontent-c4="" class="col-md-12 text-center">
          <button _ngcontent-c4="" class="btn btn-round" type="button">Fitness</button>
          <button _ngcontent-c4="" class="btn btn-round" type="button">Fashion</button>
          <button _ngcontent-c4="" class="btn btn-round" type="button">Animals</button>
          <button _ngcontent-c4="" class="btn btn-round" type="button">Literature</button>
          <button _ngcontent-c4="" class="btn btn-round" type="button">Travel</button>
          <button _ngcontent-c4="" class="btn btn-round" type="button">Family</button>
        </div>
      </div>
    </div>
  </div>


  <br>

  <div class="jumbotron">
    <p>Source code:</p>
      <ul>
        <li><a href="https://github.com/UdL-EPS-SoftArch/LinkApp-API" target="_blank">Spring Back-End</a></li>
        <li><a href="https://github.com/UdL-EPS-SoftArch/LinkApp" target="_blank">Angular Front-End</a></li>
      </ul>
  </div>
</div>
</div>
