p {
  text-align: justify;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: green;
}

/*
div {
  display: block;
}
*/

.image{
  display: inline;
  max-width: 50%;
}

.absolute {
  position: absolute;
}


.yellow_image {
  max-width: 75%;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.green_image {
  top: 0;
  right: 0;
  left: unset;
  transform: unset;
}






