.lato-black {
  font-family: 'Lato Black', sans-serif;
  font-weight: bold;
}

.lato-light {
  font-family: "Lato Light", sans-serif;
  font-weight: lighter;
}


.bg-gray {
  background-color: rgb(246 247 248);
}
