<app-meet-header></app-meet-header>
<div class="bg-gray">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-9">
        CONTAINER
      </div>
      <div class="col-md-3 order-first order-md-last">
        <div class="row row-cols-2 p-3" style="background-color:white; border-radius: 1rem">
          <div class="col-3">
            <p class="mb-0"><i class="fas fa-user-circle fa-3x"></i></p>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <p class="lato-black mb-1">Group name</p>
              <p class="lato-light mb-0">Public group</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
