<app-meet-header></app-meet-header>
<div class="bg-gray">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-9">
        CONTAINER
      </div>

      <div class="col-md-3 order-first order-md-last">
        <div class="row row-cols-2 p-3 col-info">
          <div class="col-3">
            <p class="mb-0"><i class="fas fa-user-circle fa-3x"></i></p>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <p class="lato-black mb-1">Group name</p>
              <p class="text-black-50 mb-0">Public group</p>
            </div>
          </div>
        </div>

        <!--   <p>Friday, June 23, 2022</p>
                        <p>7:00 PM to 9:00 PM CET</p>  <p>JustDigital</p>
                        <p class="text-black-50">C/ Agustins, 7 (bajos) · Lleida</p>    -->
        <div class="p-3 col-info mt-4">
          <div class="row">
            <div class="col-sm-2"><i class="fa-solid fa-clock"></i></div>
            <div class="col-sm-10">
              <p class="mb-1">Friday, June 23, 2022</p>
              <p>7:00 PM to 9:00 PM CET</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
