<app-meet-header></app-meet-header>
<div class="bg-gray">
  <div class="container">
    <div class="row py-2">
      <div class="col-md-7">
        <div class="py-5">
          <img src="https://secure-content.meetupstatic.com/images/classic-events/488929104/676x380.webp"
               class="img-fluid"
               alt="Main meetup image">
        </div>
        <h4 class="lato-black">Details</h4>
        <p class="text-start">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur molestie sagittis. In pretium
          cursus auctor. Donec sollicitudin, nulla sit amet viverra consectetur, lectus felis lobortis elit, vel rhoncus
          turpis mauris at tortor. Vestibulum tempus ex enim, sit amet molestie ante suscipit in. Donec volutpat nunc in
          facilisis lobortis. Fusce nec risus dolor. Maecenas non nisi bibendum leo scelerisque ullamcorper. Proin
          sollicitudin, nisl nec sagittis consectetur, sem metus condimentum dui, lobortis dictum urna nunc dignissim
          arcu. Nam porta felis nulla. Nam eget lorem sed turpis eleifend lobortis. Maecenas orci ex, imperdiet eu
          malesuada eu, blandit eu risus. Curabitur sodales efficitur orci vel euismod. Donec viverra molestie auctor.
          Phasellus eget nunc ullamcorper, convallis lectus id, interdum quam.
        </p>
        <p class="text-start">
          Nunc eget varius metus. Proin blandit suscipit urna, nec ultricies libero tristique eu. Aenean ut erat ac
          tortor consectetur mattis. Quisque eget dapibus eros. Nunc maximus dolor vel neque congue, nec vehicula dui
          pulvinar. Donec maximus vel mi sit amet mollis. Suspendisse a varius mauris. Suspendisse lacinia eu neque eu
          commodo. Nunc elementum neque vel viverra blandit.
        </p>
        <p class="text-start">
          Sed vulputate scelerisque dolor at interdum. Sed aliquet et risus id commodo. Aenean suscipit ut diam et
          tempus. Phasellus id iaculis odio, vitae suscipit dolor. Aenean nulla arcu, pretium sit amet pulvinar in,
          lacinia id augue. Fusce augue lectus, ullamcorper quis gravida in, maximus at tortor. Curabitur ac posuere
          ipsum. Suspendisse accumsan nunc ut gravida tempor. Vestibulum ante ipsum primis in faucibus orci luctus et
          ultrices posuere cubilia curae;
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 order-first order-md-last">
        <div class="sticky-md-top pt-5">
          <div class="p-4 col-info">
            <div class="row row-cols-2">
              <div class="col-2">
                <p class="mb-0"><i class="fas fa-user-circle fa-3x"></i></p>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <p class="lato-black mb-0">Group name</p>
                  <p class="text-black-50 mb-0">Public group</p>
                </div>
              </div>
            </div>
          </div>

          <div class="p-4 col-info mt-4">
            <div class="row">
              <div class="col-2"><p><i class="fas fa-clock fa-lg"></i></p></div>
              <div class="col-md-10">
                <time class="mb-1">Friday, June 23, 2022<br>7:00 PM to 9:00 PM CET</time>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-2"><p><i class="fas fa-map-marker-alt fa-lg"></i></p></div>
              <div class="col-md-10">
                <p class="mb-1">JustDigital</p>
                <p class="text-black-50 m-0">C/ Agustins, 7 (bajos) · Lleida</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
