

<div id="faceted" class="row">
  <div id="facets" class="col-md-9 m-0">
    <h2>
      Welcome to {{ group.title }}'s group!
    </h2>
    <br>
    <h5>
      <i>
        {{ group.description }}
      </i>
    </h5>
  </div>

  <div id="instances" class="col-md-3 m-0">
    <p>
      <a style="margin-right: 4px">
        <button class="btn btn-primary btn-sm" type="submit">Show members</button>
      </a>
      <a>
        <button class="btn btn-primary btn-sm" type="submit">Add members</button>
      </a>
    </p>
  </div>
</div>

<div style="text-align: center; margin-top: 1%; margin-bottom: 5px">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="btnradio1">Show Meets</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2">Show Posts</label>
  </div>
</div>

