

<div id="faceted" class="row">
  <div id="facets" class="col-md-9 m-0">
    <h2>
      Welcome to {{ group.title }}'s group!
    </h2>
    <br>
    <h5>
      <i>
        {{ group.description }}
      </i>
    </h5>
  </div>

  <div id="instances" class="col-md-3 m-0">
    <p>
      <a style="margin-right: 4px">
        <button class="btn btn-primary btn-sm" type="submit">Show members</button>
      </a>
      <a>
        <button class="btn btn-primary btn-sm" type="submit">Add members</button>
      </a>
    </p>
  </div>
</div>


