

<div id="faceted" class="row">
  <div id="facets" class="col-md-9 m-0">
    <h2>
      Welcome to {{ group.title }}'s group!
    </h2>
    <br>
    <h5>
      <i>
        {{ group.description }}
      </i>
    </h5>
  </div>

  <div id="instances" class="col-md-3 m-0">
    <p>
      <a style="margin-right: 4px">
        <button class="btn btn-primary btn-sm" type="submit">Show members</button>
      </a>
      <a>
        <button class="btn btn-primary btn-sm" type="submit">Add members</button>
      </a>
    </p>
  </div>
</div>


<a *ngIf="showMeet">
  <div style="text-align: center; margin-top: 1%; margin-bottom: 5px">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio01" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio01">Show Meets</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio02" autocomplete="off">
      <a class="btn btn-outline-primary" for="btnradio02" routerLink="{{oppositeUrl}}">Show Posts</a>
    </div>
  </div>

  Ensenyant els meets!
</a>
<a *ngIf="!showMeet">
  <div style="text-align: center; margin-top: 1%; margin-bottom: 5px">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio11" routerLink="{{oppositeUrl}}">Show Meets</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off" checked>
      <a class="btn btn-outline-primary" for="btnradio12">Show Posts</a>
    </div>
  </div>
  <app-posts [group]="group" [father]="null" [layer]="0">
  </app-posts>
</a>
