<app-group-search (emitResults)="detail($event)"></app-group-search>

<div class="card mb-1" *ngFor="let group of groups">
  <div class="card-block row m-1 col-12">
    <div class="card-body row">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Title</h6>
        <a class="card-text" [routerLink]="[group.uri]">{{group.title}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Themes</h6>
        <p class="card-text justified-text">{{group.themes}}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalGroups"
                (pageChange)="changePage()"></ngb-pagination>
