<a *ngIf="father!==null">
  <form class="input-group mb-3" (ngSubmit)="onSubmit()">
    <input required type="text" [(ngModel)]="post.text" class="form-control" placeholder="Write your comment" aria-label="Write your comment" aria-describedby="button-addon2">
    <button class="form-group btn btn-outline-secondary" type="submit" id="submit">Reply</button>
  </form>
</a>
<a *ngIf="father===null">
<form class="input-group mb-3" (ngSubmit)="onSubmit()">
  <input required type="text" [(ngModel)]="post.text" class="form-control" placeholder="Write your post" aria-label="Write your post" aria-describedby="button-addon2">
  <button class="form-group btn btn-outline-secondary" type="submit" id="submit2">Post it</button>
</form>
</a>
