<div _ngcontent-wjd-c3="">
  <h2 _ngcontent-wjd-c3="">Welcome back, {{user.name}}!👋</h2>
</div>
<br><br>

<div class="jumbotron">
  <h5>Events from your groups</h5>
</div>

<br>

<div _ngcontent-qao-c4="" class="section-padding">
  <div _ngcontent-qao-c4="" class="container">
    <div _ngcontent-qao-c4="" class="row">
      <!---->
      <div *ngFor="let group of groups">
        <div _ngcontent-qao-c4="" class="col-lg-4 col-md-6 ng-star-inserted">
          <div _ngcontent-qao-c4="" class="info_box has-animation">
            <span _ngcontent-qao-c4=""></span>
            <span _ngcontent-qao-c4=""></span>
            <div _ngcontent-qao-c4="" class="icon"><img _ngcontent-qao-c4="" class="small" src="assets/icon.jpeg" alt="Join a group"></div>
            <h5 _ngcontent-qao-c4="">{{group.title}}</h5><p _ngcontent-qao-c4="" class="mb-0">{{group.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="card mb-1" *ngFor="let group of groups">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="lato-black">Title</h6>
        <a class="card-text" [routerLink]="['/groups', group.id]">{{group.title}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{group.description}}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalGroups"
                (pageChange)="changePage()"></ngb-pagination>

<!--Footer-->
<footer class="modal-footer">
  <div class="container">
    <div class="text-center">
      <small>Footer...</small>
    </div>
  </div>
</footer>
