<h2><b>Feed</b></h2>

<div class="jumbotron">
  <p>Groups you belong to:</p>
</div>

<div class="card mb-1" *ngFor="let group of groups">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Title</h6>
        <a class="card-text" [routerLink]="['/groups', group.id]">{{group.title}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{group.description}}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalGroups"
                (pageChange)="changePage()"></ngb-pagination>

<!--Footer-->
<footer class="modal-footer">
  <div class="container">
    <div class="text-center">
      <small>Footer...</small>
    </div>
  </div>
</footer>
