<div _ngcontent-wjd-c3="">
  <h2 _ngcontent-wjd-c3="">Welcome back, {{user.name}}!👋</h2>
</div>
<br><br>

<div class="jumbotron">
  <h5>Meets from your groups</h5>
</div>

<br>

<div class="card mb-1" *ngFor="let meet of meets">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="lato-black">Title</h6>
        <a class="card-text" [routerLink]="['/groups', meet.id]">{{meet.title}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{meet.description}}</p>
      </div>
    </div>
  </div>
</div>

<br>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalMeets"
                (pageChange)="changeGroupPage()"></ngb-pagination>

<br>
<br>

<div class="jumbotron">
  <h5>Your groups</h5>
</div>

<div class="card mb-1" *ngFor="let group of groups">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="lato-black">Title</h6>
        <a class="card-text" [routerLink]="['/groups', group.id]">{{group.title}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{group.description}}</p>
      </div>
    </div>
  </div>
</div>

<br>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalGroups"
                (pageChange)="changeGroupPage()"></ngb-pagination>


